---
//components

import ProyectoItem from "../components/ProyectosItem.astro";
import ProyectoPill from "../components/ProyectoPill.astro";

//data
import { PROJECTS } from "../Data/ProjectosDatos.js";

//icon
import GithubIcon from "../icons/Github.astro";
import ColabIcon from "../icons/Colab.astro";
import DataAnalytics from "../icons/DataAnalytics.astro";
---

<section id="Proyectos" class="static mt-14 flex justify-center items-center">
  <article class="md:w-[650px] lg:w-[950px] flex flex-col gap-y-4">
    <h2 class="flex gap-3 font-bold text-3xl p-3">
      <DataAnalytics class="size-10" /> Proyectos
    </h2>
    {
      PROJECTS.map(({ image, title, description, tags, github, colab }) => (
        <ProyectoItem>
          <img
            src={image}
            alt={title}
            class="rounded-xl w-full"
            slot="imagen"
          />
          <h3 class="font-bold text-xl ">{title}</h3>
          <div class="flex gap-x-2 my-2 gap-y-2 flex-wrap">
            {tags.map((tag) => (
              <ProyectoPill name={tag.name} class={tag.class}>
                <tag.icon class="size-5" />
              </ProyectoPill>
            ))}
          </div>
          <p>{description}</p>
          <footer class="flex justify-start mt-2 gap-x-2">
            {github && (
              <a
                href={github}
                class=" flex gap-x-2 items-center bg-black/70 p-2 rounded-2xl text-white font-medium border-2 transition duration-300 ease-in-out hover:scale-105"
                target="_blank">
                <GithubIcon class="size-8 " /> Github
              </a>
            )}
            {colab && (
              <a
                href={colab}
                class=" flex gap-x-2 items-center bg-black/70 p-2 rounded-2xl text-white font-medium border-2 transition duration-300 ease-in-out hover:scale-105"
                target="_blank">
                <ColabIcon class="size-8 " /> Colab
              </a>
            )}
          </footer>
        </ProyectoItem>
      ))
    }
  </article>
</section>
